body {
    background-color: #d6efff;
}

h1 {
    margin-bottom: 0;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

div#header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 36em;
    text-align: center;
}

p {
    margin: 0;
}

table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-collapse: collapse;

    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}

td#selected {
    background-color: #626262;
}

td.cell {
    border: 1px solid black;
    width: 4em;
    height: 4em;
    text-align: center;
}

td.cell:hover {
    background-color: #b6b6b6;
}

td.row3, td.row6 {
    border-bottom: 2px solid black;
}

td.col3, td.col6 {
    border-right: 2px solid black;
}

div#buttons {
    width: 100%;
    text-align: center;
}

button#solveButton {
    margin-top: 1em;
    padding: .75em 8em .75em 8em;
    font-size: 2em;
}

button.puzzleButton {
    margin-top: 1em;
    padding: 1em 4em 1em 4em;
}

ul {
    margin: 0;
    padding: 0;
}

p#solutionStatus {
    margin-top: .25em;
    margin-bottom: 0;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
}
